<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="eventStudent">
      <h2 data-cy="eventStudentDetailsHeading"><span jhiTranslate="schoolEventApp.eventStudent.detail.title">Event Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eventStudent.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolEventApp.eventStudent.student">Student</span></dt>
        <dd>
          <div *ngIf="eventStudent.student">
            <a [routerLink]="['/student', eventStudent.student?.id, 'view']"
              >{{ eventStudent.student?.lastName }}, {{ eventStudent.student?.firstName }} {{ eventStudent.student?.middleName }}</a
            >
          </div>
        </dd>
        <dt><span jhiTranslate="schoolEventApp.eventStudent.event">Event</span></dt>
        <dd>
          <div *ngIf="eventStudent.event">
            <a [routerLink]="['/event', eventStudent.event?.id, 'view']"
              >{{ eventStudent.event?.dateEvent }} {{ eventStudent.event?.nameEvent }}</a
            >
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event-student', eventStudent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
